<a href="https://colab.research.google.com/github/TKM-MCA-2020-DATA-SCIENCE-LAB/20MCA315-BRAHMADUTTAN_S/blob/master/Internal_Lab_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Implement KNN onthe dataset named "mall_customers.csv". Explore the dataset and choose the appropriate attributes for X and Y. Also print the classification report and predition accuracy.**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Mall_Customers.csv')

In [ ]:
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
x = df.iloc[:,2:5]
x.head()

   Age  Annual Income (k$)  Spending Score (1-100)
0   19                  15                      39
1   21                  15                      81
2   20                  16                       6
3   23                  16                      77
4   31                  17                      40

In [ ]:
y = df.iloc[:,1:2]
y.head()

    Genre
0    Male
1    Male
2  Female
3  Female
4  Female

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=10)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [ ]:
y_pred = knn.predict(x_test)
y_pred

array(['Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female',
       'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male',
       'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male',
       'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female',
       'Female', 'Male', 'Female', 'Male', 'Female'], dtype=object)

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
print("Accuracy: ",accuracy_score(y_test,y_pred))

Accuracy:  0.5666666666666667

In [ ]:
print("Classification Report: \n",classification_report(y_test,y_pred))

Classification Report:
               precision    recall  f1-score   support

      Female       0.62      0.66      0.64        35
        Male       0.48      0.44      0.46        25

    accuracy                           0.57        60
   macro avg       0.55      0.55      0.55        60
weighted avg       0.56      0.57      0.56        60

In [ ]:
print("Confusion Matrix: \n",confusion_matrix(y_test,y_pred))

Confusion Matrix:
 [[23 12]
 [14 11]]